
        <!-- FOOTER -->
        <footer class="footer pt-80">
            <div class="container">
                <!--Footer Info -->
                <div class="row footer-info mb-60">
                    <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-30">
                        <a class="footer-logo" href="home.html">
                          <img src="images/logo.JPG" />
                        </a>
                        <div class="spacer-30"></div>
                        <ul class="social">
                            <li><a target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/Centre-de-Formation-Sublima-1459748987589716/?fref=ts"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30 mb-xs-0">
                        <ul class="link">
                            <li><a href="blog-grid-3col.html">Acceuil</a></li>
                            <li><a href="portfolio-grid-3col.html">Contact</a></li>
                            <li><a href="login-register.html">FAQ</a></li>
                            <li><a href="service-1.html">Service</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">
                        <ul class="link">
                            <li><a href="contact-1.html">Contact Us</a></li>
                            <li><a href="shop-checkout.html">Shopping Cart</a></li>
                            <li><a href="404-error-1.html">404 Error</a></li>
                            <li><a href="home.html">Home</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <p>Sublima - Centre de Formation, 3 rue du Plat, 59000 LILLE</p>
                        <ul class="link-small">
                            <li><a href="mailto:info@sublima-lille.fr"><i class="fa fa-envelope-o left"></i>info@sublima-lille.fr</a></li>
                            <li><a href="tel:+33320130491"><i class="fa fa-phone left"></i>03 20 13 04 91</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Footer Info -->
            </div>

            <hr />

            <!-- Copyright Bar -->
            <section class="copyright ptb-60">
                <div class="container">
                    <p class="">
                        <p>Centre déclaré auprès de la prefecture du NORD​</p>
                        <p>Numéro de déclaration d'activité : 31 59 079 7059</p>
                        © 2016 <a><b>Sublima</b></a>. All Rights Reserved.
                        <br />
                        <small><a target="_blank" href="http://guillaumecaulier.com/"><i class="fa fa-code" aria-hidden="true"></i> by Guillaume Caulier</a></small>
                    </p>
                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>
        <!-- END FOOTER -->
