---
title: Sublima
---

<!-- Intro Section -->
<section class="full-screen-intro">

    <!-- Bg Image -->
    <div class="media-wapper bg-imghome cont-h-100per"></div>
    <!-- End Bg Image -->

    <!-- Content -->
    <div class="full-cap-wraper overlay-dark light-color">
        <div class="content-caption light-color parallax parallax-opacity">
            <div class="container">
                <h5>Centre de formation</h5>
                <h2 class="h2">Sublima</h2>
                <div class="row">
                    <p class="lead col-md-6 col-md-offset-3">Maquillage Longue Durée - Dermographie réparatrice</p>
                    <p class="lead col-md-6 col-md-offset-3">Tatouages - Extension de cils</p>
                </div>
                <br>
            </div>
        </div>
    </div>
    <!-- End Content -->

    <!-- Intro Scroll Down -->
    <div class="intro-scroll-down">
        <a class="scroll-down" href="#about">
            <i class="fa fa-angle-double-down white fa-3x" aria-hidden="true"></i>
        </a>
    </div>
    <!-- End Intro Scroll Down -->
</section>
<div class="clearfix"></div>
<!-- End Intro Section -->




<!--About Section-->
<section id="about" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="h4">DEVELOPPEZ VOS COMPETENCES PAR LA DIFFERENCE</h3>
                <div class="spacer-15"></div>
                <p class="lead">"Quel que soit votre projet, <a class="tipped" data-title="Sample Text" data-tipper-options='{"direction":"top"}'><b>Sublima</b></a> vous offre les moyens de réussir"</p>
            </div>
        </div>
        <div class="row mt-80">
            <div class="col-md-4 mb-30">
                <img src="img/about1.jpg" alt="" />
            </div>
            <div class="col-md-4 mb-30">
                <h4>Nous sommes là pour :</h4>
                <div class="spacer-15"></div>
                <p>Vous aidez à réaliser votre projet et choisir la formation la plus adaptée à votre parcours.</p>
                <p>Vous accompagner dans vos démarches administratives.</p>
                <p>Un suivi personnalisé, en fonction de vos besoins.</p>
            </div>
            <div class="col-md-4 mb-30">
                <h4>Nous choisir c'est :</h4>
                <div class="spacer-15"></div>
                <p>La garantie d'une formation de qualité théorique et pratique enseignée par des expertes dans leur domaine.</p>
                <p>Du matériel aux normes françaises.</p>
                <p>Une hygiène irréprochable.</p>
            </div>
        </div>
        <div class="spacer-30"></div>
        <div class="text-center">
          <a class="btn btn-md btn-black-line xs-hidden">Nos Formations</a>
        </div>
    </div>
</section>
<!-- End About Section-->




<!-- Testimonials -->
<section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url(https://images.unsplash.com/photo-1460904577954-8fadb262612c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=ebd1c27d004d51f9b027739a69ba287b); background-repeat: no-repeat; background-size: cover; background-position: center;" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <p class="lead">" Merci Odile pour la professionnalisme et tes qualités humaines, tu a réussis à nous mettre en  confiance. Merci pour tout "</p>
                    <h6 class="quote-author">Vanessa de Lille <span style="font-weight: 400;">( Stagiaire Esthéticienne )</span></h6>
                </div>
            </div>
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <p class="lead">" Un grand merci à Odile formatrice pour son écoute, toujours aux petits soins auprès de ses élèves. De plus une hygiene à la perfection semblable à un bloc opératoire, une formation de durée intermédiaire, mais toujours en demande d'information. "</p>
                    <h6 class="quote-author">Franck de Hem <span style="font-weight: 400;">( Stagiaire )</span></h6>
                </div>
            </div>
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <p class="lead">" Bonne qualité de service, hygiène irréprochable, bon conseils. "</p>
                    <h6 class="quote-author">Christel de Lille <span style="font-weight: 400;">( Stagiaire Esthéticienne )</span></h6>
                </div>
            </div>
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <p class="lead">" Formation excellente et formatrice au top niveau. "</p>
                    <h6 class="quote-author">Julie de Loos-en-Gohelle <span style="font-weight: 400;">( Stagiaire Esthéticienne )</span></h6>
                </div>
            </div>
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <p class="lead">" Merci pour ton accueil ta patience et ta gentillesse "</p>
                    <h6 class="quote-author">Khalida de Lens <span style="font-weight: 400;">( Stagiaire Esthéticienne )</span></h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials -->



